body{
    /*background-image: url();*/
}

li{
    list-style-type: none;
    display:inline-block;
    margin: 10px 10px 10px 0px;
    width: 150px;
}

li.character{
    border: 2px solid green;
}

li.player-character{
    border: 2px blue solid;
}

li.enemies{
    border: 2px solid red;
}