img.img-responsive {
    padding-bottom: 5px;
}

p, p.h4{
    font-family: Helvetica, sans-serif;
    color: floralwhite;
}

li{
    list-style-type: none;
    display:inline-block;
    margin: 10px 10px 10px 0;
    width: 150px;
    padding: 0 5px 0 5px;
    background-color: lightslategrey;
}

li.character{
    border: 2px solid green;
}

li.player-character{
    border: 2px blue solid;
    background-color: lightblue;
}

li.player-character p{
    color: black;
}

li.enemies{
    border: 2px solid orange;
}

#attack-button{
    display: none;
}

#restart-button{
    display: none;
}